<%= form_with(model: rain_measure, local: true) do |form| %>
  <% if rain_measure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rain_measure.errors.count, "error") %> prohibited this rain_measure from being saved:</h2>

      <ul>
        <% rain_measure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :place_id %>
    <%= form.text_field :place_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
